<footer>
  <div class="container">
    <h3>About Greylock</h3>
    <p>As founders, operators and investors, we strive to be the best partners for entrepreneurs building disruptive consumer and enterprise software
      companies. We create partnerships with tech entrepreneurs at the earliest stages of creation and support them as their companies grow and evolve.</p>
    <p>
      <strong><a href="http://www.greylock.com/" target="_blank">Visit Greylock</a></strong> &middot;
      <a href="http://www.twitter.com/greylockvc" target="_blank">Twitter</a> &middot;
      <a href="http://www.greylockvc.com/" target="_blank">Blog</a>
    </p>
  </div>
</footer>
