---
page: hackfest 
title: "Hackfest :: greylockU"
---

<!--
TODO:
  Fix cl.ly link!!
-->

<div id="content">
  <div id="hackfest-main">
    <div class="hackfest-header">
      <hgroup>
        <h2>greylock hackfest</h2>
        <h3>
          <i class="icon-map-marker"></i>
          Medium HQ (San Francisco)
          <span>&middot;</span>
          <i class="icon-calendar"></i>
          07.19.14
        </h3>
      </hgroup>
      <a href="#" class="arrow"></a>
    </div>
  </div>
</div>

<section id="hackfest-info">
  <div class="desc">
    <p>Once more, we're calling the best university hackers to join us on July 19th &amp; 20th and claim the title of hackfest champion. We're looking for visionaries who are not afraid of rolling up their sleeves and are hungry to win our $10K grand prize. We have 170 spots available, can accept up to 4 students per team, and will take only the very best teams. Competition will be fierce so choose your teammates wisely, and come show us what you can deliver in 24 hours.</p>
  </div>

  <h4>The Judges</h4>

  <div id="judges" class="grid-container">
    <div class="judge grid-20 tablet-grid-30">
      <div class="judge-circle soon2">
        <div class="img">
          <div class="icons">
            <i class="soon icon-question-sign"></i>
          </div>
        </div>
      </div>
      <h5>TBA</h5>
      <div class="judge-byline">Announcement coming soon!</div>
    </div>
    <div class="judge grid-20 tablet-grid-33">
      <div class="judge-circle gerald">
        <div class="img">
          <div class="icons">
            <a href="http://geraldfong.com/" class="icon-external-link-sign" target="_blank"></a>
            <a href="https://twitter.com/geraldgfong" class="icon-twitter-sign" target="_blank"></a>
            <a href="https://www.linkedin.com/in/geraldfong" class="icon-linkedin-sign" target="_blank"></a>
          </div>
        </div>
      </div>
      <h5>Gerald Fong</h5>
      <div class="judge-byline">Two time greylock hackfest winner</div>
    </div>
    <div class="judge grid-20 tablet-grid-33">
      <div class="judge-circle david">
        <div class="img">
          <div class="icons">
            <a href="http://www.greylock.com/" class="icon-external-link-sign" target="_blank"></a>
            <a href="https://twitter.com/davidsze" class="icon-twitter-sign" target="_blank"></a>
            <a href="http://www.linkedin.com/in/davidsze" class="icon-linkedin-sign" target="_blank"></a>
          </div>
        </div>
      </div>
      <h5>David Sze</h5>
      <div class="judge-byline">Greylock, Partner</div>
    </div>
    <div class="judge grid-20 tablet-grid-33">
      <div class="judge-circle pooja">
        <div class="img">
          <div class="icons">
            <a href="http://www.piazza.com/" class="icon-external-link-sign" target="_blank"></a>
            <a href="https://twitter.com/poojasankar" class="icon-twitter-sign" target="_blank"></a>
            <a href="http://www.linkedin.com/in/poojasankar" class="icon-linkedin-sign" target="_blank"></a>
          </div>
        </div>
      </div>
      <h5>Pooja Sankar</h5>
      <div class="judge-byline">Piazza, Founder &amp; CEO</div>
    </div>
    <div class="judge grid-20 tablet-grid-30 tablet-prefix-20">
      <div class="judge-circle soon1">
        <div class="img">
          <div class="icons">
            <i class="soon icon-question-sign"></i>
          </div>
        </div>
      </div>
      <h5>TBA</h5>
      <div class="judge-byline">Announcement coming soon!</div>
    </div>
  </div>

  <div class="sponsors-container" id="sponsors">
    <h4>The Sponsors</h4>
    <div class="grid-container">
      <div id="sponsors-main" class="grid-25 tablet-grid-25">
        <a href="http://medium.com" target="_blank" class="logo medium"></a>
      </div>
      <div id="sponsors-other" class="grid-75 tablet-grid-75">
        <a href="http://nextdoor.com" target="_blank" class="logo-nextdoor"></a>
        <a href="http://facebook.com" target="_blank" class="logo-facebook"></a>
        <a href="http://linkedin.com" target="_blank" class="logo-linkedin"></a>
        <a href="http://dropbox.com" target="_blank" class="logo-dropbox"></a>
        <a href="http://airbnb.com" target="_blank" class="logo-airbnb"></a>
        <a href="http://creativelive.com" target="_blank" class="logo-creativelive"></a>
      </div>
    </div>
    <!--
    <div class="grid-container">
      <div id="sponsors" class="prefix-30 grid-20">
        <a href="http://medium.com" target="_blank" class="logo medium"></a>
      </div>
      <div id="sponsors" class="suffix grid-20">
        <a href="http://facebook.com" target="_blank" class="logo facebook"></a>
      </div>
    </div>
    -->
  </div>


  <div id="prizes">
    <i class="icon-trophy"></i>
    <div class="bignumber">$10,000</div>
    <div class="grandprize">Grand Prize</div>
    <div class="otherprize">Other prizes to be announced by <strong>05.31.2014</strong></div>
    <!--
    <h4>The Prizes</h4>
    <i class="icon-trophy"></i>
    <div class="grid-container">
      <div class="grid-33 tablet-grid-33">
        <h5>2<sup>nd</sup> Place</h5>
        <ul class="lite">
          <li>Lunch at Greylock Partners</li>
          <li>TBA</li>
          <li>TBA</li>
        </ul>
      </div>
      <div class="grid-33 tablet-grid-33 first">
        <h5>1<sup>st</sup> Place</h5>
        <ul>
          <li><strong>$10,000 Prize Money</strong></li>
          <li>Meeting with Ev Williams</li>
          <li>TBA</li>
        </ul>
      </div>
      <div class="grid-33 tablet-grid-33">
        <h5>3<sup>rd</sup> Place</h5>
        <ul class="lite">
          <li>&mdash;</li>
          <li>TBA</li>
          <li>TBA</li>
        </ul>
      </div>
    </div>
    -->
  </div>


  <div id="tips">
    <h4>Advice</h4>
    <div class="grid-container">
      <div class="grid-25 tablet-grid-50">
        <p>Choose an ambitious idea that's just on the edge of your abilities — then go and build it. The hard time limit and inspiring atmosphere will help you find victory!</p>
        <a href="http://feross.org" target="_blank">Feross Aboukhadijeh</a>
      </div>
      <div class="grid-25 tablet-grid-50">
        <p>If things go wrong, don't worry and push on! My team's main hack only started to come together during the last 30 minutes.</p>
        <a href="http://geraldfong.com/" target="_blank">Gerald Fong</a>
      </div>
      <div class="grid-25 tablet-grid-50">
        <p>Winning a hackathon isn't just about building something cool. You can't win if no one remembers you. Work hard, pitch harder.</p>
        <a href="http://kramerapps.com/" target="_blank">Conrad Kramer</a>
      </div>
      <div class="grid-25 tablet-grid-50">
        <p>Look for the intersection futuristic and useful. Really push your limits to make something impressive. </p>
        <a href="http://geraldfong.com/" target="_blank">Gerald Fong</a>
      </div>
    </div>
  </div>

  <div id="lastyear">
    <div class="grid-container">
      <div class="grid-33 tablet-grid-50">
        <h5>2012</h5>
        <div class="halo">
          <div class="image team2012"></div>
        </div>
        <div class="hosted host2012">hosted by <span>Dropbox</span></div>
        <h5>Toaster.js</h5>
        <p>A platform to control electronic devices. It's a cloud based API that allows for the easy control and integration of sensors, switches, and other home automation products.</li>
        
        <ul class="team">
          <li>Sharad Vikram</li>
          <li>Gerald Fong</li>
          <li>Abi Raja</li>
          <li>Li Pi</li>
        </ul>
      </div>
      <div class="grid-33 tablet-grid-50">
        <h5>2013</h5>
        <div class="halo">
          <div class="image team2013"></div>
        </div>
        <div class="hosted host2013">hosted by <span>AirBnb</span></div>
        <h5>Smart Room</h5>
        <p>Smart room lets you control your speakers, lights, and computers by using simple hand gestures. We created a watch that tracks your hand movements, and also use an android app to track your position and orientation.</p>
        <ul class="team">
          <li>Siddhartho Bhattacharya</li>
          <li>Kevin Yanofsky</li>
          <li>Gerald Fong</li>
          <li>Achal Dave</li>
        </ul>
      </div>
      <div class="grid-33 tablet-grid-50 tablet-prefix-25 tablet-suffix-25">
        <h5>2014</h5>
        <div class="halo">
          <div class="image team2014"></div>
        </div>
        <div class="hosted host2014">hosted by <span>Medium</span> Medium</div>
        <h5>Your Team?</h5>
        <p>This could be you! What are you waiting for? Get your team together, and apply now!</p>
        <div class="apply-link-parent">
          <a href="#details" class="apply-link">Apply Now</a>
        </div>
      </div>
    </div>
  </div>

  <div id="details">
    <h4>Apply Now!</h4>
    <div id="signup" class="side">
      <div class="grid-container" id="form-hackfest">
        <div class="grid-45 prefix-5 tablet-grid-50">
          <div class="apply-done saved">
            <i class="icon-check-sign"></i>
            <h4>Application Submitted!</h4>
            <p>Thanks for applying! We'll let you know if you're invited to Hackfest as soon as we know. In the meantime, hack on!</p>
          </div>
          <form method="POST" action="/" class="apply-form hide-on-done" data-type="ResumeObject">
            <div class="grid-container">
              <div class="grid-50">
                <label>Name</label>
                <input type="text" id="form_h_name" name="full_name" placeholder="First and Last" class="required">
              </div>
              <div class="grid-50">
                <label>Email</label>
                <input type="text" id="form_h_email" name="email" placeholder="you@university.edu" class="email required">
              </div>
            </div>
            <div class="grid-container">
              <div class="grid-75">
                <label>University</label>
                <input type="text" id="form_h_university" name="college" placeholder="Your Current University" class="required"> 
              </div>
              <div class="grid-25">
                <label>Year</label>
                <input type="text" id="form_h_year" name="year" placeholder="20XX" class="validyear required"> 
              </div>
            </div>
            <!--
            <div class="grid-container">
              <div class="grid-100">
                <input type="radio" id="as_individual" checked class="type-picker" name="type" value="1"><label for="as_individual" class="apply-individual">Individual</label>
                <input type="radio" id="as_team" class="type-picker" name="type" value="1"><label for="as_team" class="apply-team">Team</label>
              </div>
            </div>
            -->

            <div id="teammates">
              <div class="grid-container">
                <div class="grid-50">
                  <input type="text" id="form_h_team1" name="team1" placeholder="Teammate #1 Name">
                </div>
                <div class="grid-50">
                  <input type="text" id="form_h_email1" name="team1email" class="email" placeholder="Email">
                </div>
              </div>
              <div class="grid-container">
                <div class="grid-50">
                  <input type="text" id="form_h_team2" name="team2" placeholder="Teammate #2 Name">
                </div>
                <div class="grid-50">
                  <input type="text" id="form_h_email2" name="team2email" class="email" placeholder="Email">
                </div>
              </div>
              <div class="grid-container">
                <div class="grid-50">
                  <input type="text" id="form_h_team3" name="team3" placeholder="Teammate #3 Name">
                </div>
                <div class="grid-50">
                  <input type="text" id="form_h_email3" name="team3email" class="email" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="grid-container">
              <div class="grid-100">
                <label>Impress Us!</label>
                <textarea id="form_h_why" name="why" rows="4" placeholder="We want to know why you're a contender! What's your specialty? Your passion? Your expertise? Make sure to throw down a link or three: blog, GitHub, HackerLeague, LinkedIn — anything impressive."></textarea>
              </div>
            </div>
            <div class="grid-container">
              <div class="grid-50">
                <div class="resume">
                  <label>Upload your resume:</label>
                  <input type="dropbox-chooser" name="selected_file" style="visibility: hidden;"/>
                </div>
              </div>
              <div class="grid-50 action">
                <button type="Submit">Go!</button>
              </div>
            </div>
          </form>
        </div>

        <div class="grid-45 tablet-grid-50">
          <h5>Rules + Eligibility</h5>
          <ul>
            <li>24h competition (doors open at 10.30am on 07.19.2014 | hackfest officialy kicks off at noon).</li>
            <li>$10K grand prize for the winning team.</li>
            <li>Registration deadline is July 11, 2014.</li>
            <li>Selected participants will be notified by July 12, 2014</li>


            <li>Only students are eligible to participate.</li>
            <li>Limited space: up to 170 spots.</li>
            <li>Maximum of 4 students per team.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="grid-container">
    <div class="grid-80">
      <h4>About Greylock</h4>
      <p>As founders, operators and investors, we strive to be the best partners for entrepreneurs building disruptive consumer and enterprise software
        companies. We create partnerships with tech entrepreneurs at the earliest stages of creation and support them as their companies grow and evolve.</p>
      <p>
        <strong><a href="http://www.greylock.com/" target="_blank">Visit Greylock</a></strong> &middot;
        <a href="http://www.twitter.com/greylockvc" target="_blank">Twitter</a> &middot;
        <a href="http://www.greylockvc.com/" target="_blank">Blog</a>
      </p>
    </div>
  </div>
</div>
</section>

<div id="video">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/cGYktcOqxo8" frameborder="0" allowfullscreen></iframe>
</div>

