---
page: hackfest 
title: "Hackfest :: greylockU"
---

<div id="content">
  <div id="hackfest-main">
    <div class="hackfest-header">
      <div class="grid-container">
        <div class="grid-100">
          <h2>greylockU hackfest</h2>
          <h3>
            <i class="icon-map-marker"></i>
            Medium HQ
            <span>&middot;</span>
            <i class="icon-calendar"></i>
            July 10, 2014
          </h3>
        </div>
      </div>
      <a href="#" class="arrow"></a>
    </div>
  </div>
</div>

<section id="hackfest-info">
  <div class="desc">
    <p>
      Greylock Hackfest unites the best university hackers across the nation in a competition of heroic talent and incredible ability. Teams will have 24 hours to showcase amazing feats of engineering &mdash; and the top 10 teams will vie for the crown of Hackfest Champion. By winning on-campus hackathons like PennApps and The Big Hack, over 40 students have already earned their entry to Greylock Hackfest. Space will be limited, and we will take <em>only</em> the very best. So grab your capes, don your utility belts, and apply today!
    </p>
  </div>

  <h4>The Judges</h4>

  <div id="judges" class="grid-container">
    <div class="judge grid-20 tablet-grid-33">
      <div class="judge-circle gerald">
        <div class="img">
          <div class="icons">
            <a href="http://geraldfong.com/" class="icon-external-link-sign" target="_blank"></a>
            <a href="https://twitter.com/geraldgfong" class="icon-twitter-sign" target="_blank"></a>
            <a href="https://www.linkedin.com/in/geraldfong" class="icon-linkedin-sign" target="_blank"></a>
          </div>
        </div>
      </div>
      <h5>Gerald Fong</h5>
      <div class="judge-byline">Two time greylock hackfest winner</div>
    </div>
    <div class="judge grid-20 tablet-grid-33">
      <div class="judge-circle david">
        <div class="img">
          <div class="icons">
            <a href="http://www.greylock.com/" class="icon-external-link-sign" target="_blank"></a>
            <a href="https://twitter.com/davidsze" class="icon-twitter-sign" target="_blank"></a>
            <a href="http://www.linkedin.com/in/davidsze" class="icon-linkedin-sign" target="_blank"></a>
          </div>
        </div>
      </div>
      <h5>David Sze</h5>
      <div class="judge-byline">Greylock, Partner</div>
    </div>
    <div class="judge grid-20 tablet-grid-33">
      <div class="judge-circle pooja">
        <div class="img">
          <div class="icons">
            <a href="http://www.piazza.com/" class="icon-external-link-sign" target="_blank"></a>
            <a href="https://twitter.com/poojasankar" class="icon-twitter-sign" target="_blank"></a>
            <a href="http://www.linkedin.com/in/poojasankar" class="icon-linkedin-sign" target="_blank"></a>
          </div>
        </div>
      </div>
      <h5>Pooja Sankar</h5>
      <div class="judge-byline">Piazza, Founder &amp; CEO</div>
    </div>
    <div class="judge grid-20 tablet-grid-30 tablet-prefix-20">
      <div class="judge-circle soon1">
        <div class="img">
          <div class="icons">
            <div class="soon">Secret judge!</div>
          </div>
        </div>
      </div>
      <h5>TBA</h5>
      <div class="judge-byline">Announcement coming soon!</div>
    </div>
    <div class="judge grid-20 tablet-grid-30">
      <div class="judge-circle soon2">
        <div class="img">
          <div class="icons">
            <div class="soon">Shhhh</div>
          </div>
        </div>
      </div>
      <h5>TBA</h5>
      <div class="judge-byline">Announcement coming soon!</div>
    </div>
  </div>

  <div class="sponsors-container">
    <h4>The Sponsors</h4>
    <div class="container">
      <div id="sponsors">
        <div style="text-align: center; color: red;">
          [ coming soon ]
        </div>
      </div>
    </div>
  </div>

  <div id="prizes">
    <h4>The Prizes</h4>
    <i class="icon-trophy"></i>
    <div class="grid-container">
      <div class="grid-33 tablet-grid-33">
        <h5>1<sup>st</sup> Place</h5>
        <ul>
          <li><strong>Meeting with Ev Williams</strong></li>
          <li>$500<span class="hide-on-desktop">/</span><span class="hide-on-tablet hide-on-mobile"> per </span>student Medium credits</li>
          <li>$3k per student AWS credit</li>
        </ul>
      </div>
      <div class="grid-33 tablet-grid-33">
        <h5>2<sup>nd</sup> Place</h5>
        <ul class="lite">
          <li>Lunch at Greylock Partners</li>
          <li>$250<span class="hide-on-desktop">/</span><span class="hide-on-tablet hide-on-mobile"> per </span>student Medium credits</li>
          <li>$2k per student AWS credit</li>
        </ul>
      </div>
      <div class="grid-33 tablet-grid-33">
        <h5>3<sup>rd</sup> Place</h5>
        <ul class="lite">
          <li>&mdash;</li>
          <li>$100<span class="hide-on-desktop">/</span><span class="hide-on-tablet hide-on-mobile"> per </span>student Medium credits</li>
          <li>$1k per student AWS credit</li>
        </ul>
      </div>
    </div>
  </div>


  <div id="tips">
    <h4>Advice</h4>
    <div class="grid-container">
      <div class="grid-25 tablet-grid-50">
        <p>Choose an ambitious idea that's just on the edge of your abilities — then go and build it. The hard time limit and inspiring atmosphere will help you find victory!</p>
        <a href="http://feross.org" target="_blank">Feross Aboukhadijeh</a>
      </div>
      <div class="grid-25 tablet-grid-50">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat.</p>
        <a href="http://google.com" target="_blank">John Smith</a>
      </div>
      <div class="grid-25 tablet-grid-50">
        <p>I wake up every morning at nine and grab for the morning paper. Then I look at the obituary page. If my name is not on it, I get up.</p>
        <a href="http://google.com" target="_blank">Benjamin Franklin</a>
      </div>
      <div class="grid-25 tablet-grid-50">
        <p>A programming language is for thinking about programs, not for expressing programs you've already thought of. It should be a pencil, not a pen.</p>
        <a href="http://google.com" target="_blank">Paul Graham</a>
      </div>
    </div>
  </div>

  <div id="details">
    <div class="grid-container">
    <h4>The Details</h4>
    <div class="grid-container">
      <div class="grid-45 suffix-10 tablet-grid-50">
        <h5>Rules, Prizes &amp; Judging</h5>
        <ul>
          <li>24h competition (doors open at 11am  on 07.27.2013).</li>
          <li>Hackfest champions will be honored with an incredible opportunity&mdash;a dinner with luminaries from all corners of the tech world!</li>
          <li>Judging criteria and additional prizes to be shouted from the rooftops soon.</li>
        </ul>
      </div>
      <div class="grid-45 tablet-grid-50">
        <h5>Eligibility &amp; Deadlines</h5>
        <ul>
          <li>Only university students are eligible to participate.</li>
          <li>Limited space: up to 170 spots.</li>
          <li>Maximum of 4 students per team.</li>
          <li>Registration deadline is July 7, 2013.</li>
          <li>Selected participants will be notified by July 13, 2013.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="grid-container">
    <div class="grid-80">
      <h4>About Greylock</h4>
      <p>As founders, operators and investors, we strive to be the best partners for entrepreneurs building disruptive consumer and enterprise software
        companies. We create partnerships with tech entrepreneurs at the earliest stages of creation and support them as their companies grow and evolve.</p>
      <p>
        <strong><a href="http://www.greylock.com/" target="_blank">Visit Greylock</a></strong> &middot;
        <a href="http://www.twitter.com/greylockvc" target="_blank">Twitter</a> &middot;
        <a href="http://www.greylockvc.com/" target="_blank">Blog</a>
      </p>
    </div>
  </div>
</div>
</section>

<div id="video">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/cGYktcOqxo8" frameborder="0" allowfullscreen></iframe>
</div>

