---
page: home 
---

<div id="desktop">
  <div id="superhero-main">
    <div class="container">
      <div id="title">
        <div id="logo-sub"></div>
        <div id="logo">
          <div class="l1"></div>
          <div class="l2"></div>
          <div class="l3"></div>
        </div>
        <!--
        <div id="about-bg">
          <div id="about">Saving the world from <strong>boring</strong> technology!</div>
        </div>
        -->
        <div id="logos">
          <div class="logo logo-e rotate">
            <a href="http://airbnb.com" target="_blank" class="logo-airbnb">Airbnb</a>
            <a href="http://redfin.com" target="_blank" class="logo-redfin off">Redfin</a>
          </div>
          <div class="logo logo-f">
            <a href="http://toytalk.com" target="_blank" class="logo-toytalk">ToyTalk</a>
          </div>
          <div class="logo logo-a rotate">
            <a href="http://nextdoor.com" target="_blank" class="logo-nextdoor">Nextdoor</a>
            <a href="http://tumblr.com" target="_blank" class="logo-tumblr off">Tumblr</a>
          </div>
          <div class="logo logo-d rotate">
            <a href="http://edmodo.com" target="_blank" class="logo-edmodo off">Edmodo</a>
            <a href="http://cloudera.com" target="_blank" class="logo-cloudera off">Cloudera</a>
            <a href="http://skyhighnetworks.com" target="_blank" class="logo-skyhigh">SkyHigh Networks</a>
          </div>
          <div class="logo logo-b rotate">
            <a href="http://purestorage.com" target="_blank" class="logo-purestorage">Pure Storage</a>
            <a href="http://sumologic.com" target="_blank" class="logo-sumologic off">Sumo Logic</a>
            <a href="http://creativelive.com" target="_blank" class="logo-creativelive off">creativeLIVE</a>
          </div>
          <div class="logo logo-i rotate">
            <a href="http://linkedin.com" target="_blank" class="logo-linkedin">LinkedIn</a>
            <a href="http://delphix.com" target="_blank" class="logo-delphix off">Delphix</a>
            <a href="http://onekingslane.com" target="_blank" class="logo-onekingslane off">One Kings Lane</a>
          </div>
          <div class="logo logo-c rotate">
            <a href="http://okta.com" target="_blank" class="logo-okta off">Okta</a>
            <a href="http://dropbox.com" target="_blank" class="logo-dropbox">Dropbox</a>
          </div>
          <div class="logo logo-g rotate">
            <a href="http://tellapart.com" target="_blank" class="logo-tellapart off">TellApart</a>
            <a href="http://appdynamics.com" target="_blank" class="logo-appdynamics">AppDynamics</a>
          </div>
          <div class="logo logo-h rotate">
            <a href="http://shopkick.com" target="_blank" class="logo-shopkick off">shopkick</a>
            <a href="http://facebook.com" target="_blank" class="logo-facebook">Facebook</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" id="arrow">
      <span></span>
    </a>
  </div>

  <div id="spacer"> <!-- This makes the page scroll -->
    <div id="superheros-inside">
      <div id="panel_parent">
        <div class="panel" id="panel2" data-extra="1034">
          <div class="sketch">
            <div class="img">
              <div class="note">
                Our story begins in <strong>Startup City</strong>, whose ambitious citizens<br>struggle with bold challenges and thrilling opportunities.
              </div>
              <div class="blocker">
                <div class="bg">
                  <div class="bg-inside">
                    <div class="light">
                      <div class="light-top"></div>
                      <div class="light-bottom-contain">
                        <div class="light-bottom"></div>
                      </div>
                    </div>
                    <div class="city"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="panel3" class="panel">
          <div class="sketch">
            <div class="img">
              <div class="p3-spotlight"></div>
              <div class="p3-buildings"></div>
              <div class="note">
                But hope is far from lost. The next crop of daring (and mightily attractive!) <strong>superheroes</strong> is being trained, this very day&hellip;
              </div>
              <div class="guy"></div>
            </div>
          </div>
        </div>
        <div class="panel" id="panel5" data-extra="1"> 
          <div class="sketch">
            <div id="reveal-wrap">
              <div class="note">
                &hellip;to master their <strong>powers</strong>!
              </div>
              <div id="reveal" class="on">
                <div class="reveal-man">
                  <div class="sample exists"></div>
                  <div class="reveal-filler"></div>
                  <div class="reveal-neck"></div>
                  <div class="reveal-shoulder"></div>
                  <div class="reveal-arm"></div>
                  <div class="reveal-hand"></div>
                  <div class="reveal-button"></div>
                  <div class="reveal-side"></div>
                  <div class="reveal-shirt-bottom"></div>
                  <div class="reveal-shirt-top"></div>

                  <div class="reveal-shoulder-r"></div>
                  <div class="reveal-arm-r"></div>
                  <div class="reveal-hand-r"></div>
                  <div class="reveal-side-r"></div>
                  <div class="reveal-shirt-top-r"></div>
                  <div class="reveal-shirt-bottom-r"></div>
                  <div class="reveal-filler-r"></div>
                  <div class="reveal-filler-r2"></div>

                  <div class="reveal-chest"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="panel6" class="panel">
          <div class="sketch">
            <div class="img">
              <div class="note">
                Reveal your secret identity and join greylockU!
              </div>
              <div class="inset">
                <div class="building-left"></div>
                <div class="building-right"></div>
              </div>
              <div class="flying"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mobile">
  <div id="logo">
    <div id="logo-c">
      <div class="l1"></div>
      <div class="l2"></div>
      <div class="l3"></div>
    </div>
  </div>
</div>
