---
page: techfair 
title: "Tech Fair :: greylockU"
---

<div id="header">
  <div class="grid-container">
    <div class="grid-50 tablet-grid-50">
      <h2 class="gl">greylock<strong>techfair</strong></h2>
      <h1>Techfair is coming <strong><span>back!</span></strong></h1>
    </div>
    <div class="grid-50 tablet-grid-50" id="apply-as">
      <div class="grid-container grid-parent">
        <div class="grid-95 prefix-5 grid-parent">
          <p>300 students ; 50 companies</p>
        </div>
      </div>
      <div class="grid-container grid-parent">
        <div class="grid-45 prefix-5 grid-parent">
          <a href="#" class="student" data-form="#form_student">Student</a>
        </div>
        <div class="grid-45 prefix-5 grid-parent">
          <a href="#" class="company" data-form="#form_company">Company</a>
        </div>
      </div>
      <div class="grid-container grid-parent">
        <div class="grid-95 prefix-5 grid-parent">
          <p>Meet and learn from tech companies and leaders that will shape your career.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-100">
      <!--
      <h3><i class="icon-calendar"></i>07.31.2014 6:30pm <i class="icon-map-marker"></i>Ferry Building</h3>
      -->
    </div>
  </div>
  <div class="ferry"></div>
</div>

<!--
<section id="agenda">
  <div class="grid-container">
      <div class="grid-20 tablet-grid-33">
        <div class="speaker">
          <div class="headshot hs1"></div>
          <div class="top">
            <time>1:30pm</time>
            <h3>Mission Based Companies</h3>
          </div>
          <p>
            <strong>Matt Mahan</strong>
            Causes<br>CEO
          </p>
          <div class="links">
            <a href="https://twitter.com/matthewmahan" target="_blank" class="icon-twitter"></a>
            <a href="http://causes.com" target="_blank" class="icon-home"></a>
            <a href="http://www.linkedin.com/pub/matt-mahan/8/867/240" target="_blank" class="icon-linkedin-sign"></a>
          </div>
        </div>
      </div>
      <div class="grid-20 tablet-grid-33">
        <div class="speaker">
          <div class="headshot hs2"></div>
          <div class="top">
            <time>2:30pm</time>
            <h3>Becoming a Founder</h3>
          </div>
          <p>
            <strong>Glenn Kelman</strong>
            Redfin<br>CEO
          </p>
          <div class="links">
            <a href="https://twitter.com/glennkelman" target="_blank" class="icon-twitter"></a>
            <a href="http://redfin.com" target="_blank" class="icon-home"></a>
            <a href="http://www.linkedin.com/in/glennkelman" target="_blank" class="icon-linkedin-sign"></a>
          </div>
        </div>
      </div>
      <div class="grid-20 tablet-grid-33">
        <div class="speaker">
          <div class="headshot hs3"></div>
          <div class="top">
            <time>3:30pm</time>
            <h3>Big Data<br>Careers</h3>
          </div>
          <p>
            <strong>Jake Klamka</strong>
            Insight Data Science Fellows Program<br>Founder
          </p>
          <div class="links">
            <a href="http://twitter.com/jakeklamka" target="_blank" class="icon-twitter"></a>
            <a href="http://insightdatascience.com" target="_blank" class="icon-home"></a>
            <a href="http://linkedin.com/in/jakeklamka" target="_blank" class="icon-linkedin-sign"></a>
          </div>
        </div>
      </div>
      <div class="grid-20 tablet-grid-50">
        <div class="speaker">
          <div class="headshot h34"></div>
          <div class="top">
            <time>4:30pm</time>
            <h3>Building a Network</h3>
          </div>
          <p>
            <strong>Porter Gale</strong>
            Author, Your Network Is Your Net Worth
          </p>
          <div class="links">
            <a href="http://facebook.com/portergale" target="_blank" class="icon-facebook-sign"></a>
            <a href="http://portergale.com/book" target="_blank" class="icon-home"></a>
            <a href="www.linkedin.com/pub/porter-gale/3/876/b27/" target="_blank" class="icon-linkedin-sign"></a>
          </div>
        </div>
      </div>
      <div class="grid-20 tablet-grid-50">
        <div class="speaker">
          <div class="headshot hs5"></div>
          <div class="top">
            <time>5:30pm</time>
            <h3>Choosing Wisely</h3>
            <h4>Internship and Full-time</h4>
          </div>
          <p>
            <strong>Bret Taylor</strong>
            Former CTO<br>Facebook
          </p>
          <div class="links">
            <a href="http://twitter.com/btaylor" target="_blank" class="icon-twitter"></a>
            <a href="http://backchannel.org" target="_blank" class="icon-home"></a>
            <a href="http://www.linkedin.com/in/brettaylor" target="_blank" class="icon-linkedin-sign"></a>
          </div>
        </div>
      </div>
  </div>
</section>
      -->


<section id="intro">
  <div class="grid-container">
    <!--
    <div class="prefix-10 grid-20 tablet-prefix-10 tablet-grid-20 hide-on-mobile" id="hello">
      <img src="/img/techfair/hello.png" alt="Hello!" class="hello">
    </div>
    -->
    <div class="prefix-20 grid-60 tablet-grid-60">
      <h3>Get Ready to Grow Your Network</h3>
      <!--
      <p>Greylock Tech Fair connects students and companies for an informal and unparalleled networking event. Meet with engineers, and learn about some of the best of the Bay Area's technology companies. Alongside the fair, we'll be hosting a series of intimate and informative talks. Industry leaders including Bret Taylor, former CTO of Facebook, will cover a variety of topics so you can better prepare yourself for the choices ahead of you.</p>
      <p class="other">Not in the Bay Area, but still interested in talking with our companies? You can <a href="/">sign up here</a>!</p>
      -->
      <p class="details">
        <i class="icon-calendar"></i> 07.31.2014
        <i class="icon-time"></i> 6:30PM
        <span class="loc">
          <i class="icon-map-marker"></i> The Ferry Building, <span class="loc-short">SF</span><span class="loc-long">San Francisco</span>
        </span>
      </p>
    </div>
  </div>
</section>

<section id="companies">
  <div class="grid-container">
    <div class="grid-100">
      <h2>The Companies</h2>
      <p class="more">This year's companies to be revealed by 05/19.</p>
    </div>
    <!--
    <div class="grid-100 grid-parent companies_list">
      <a href="http://airbnb.com" target="_blank" class="logo-airbnb"></a>
      <a href="http://thebackplane.com" target="_blank" class="logo-backplane"></a>
      <a href="http://betable.com" target="_blank" class="logo-betable"></a>
      <a href="http://cardspring.com" target="_blank" class="logo-cardspring"></a>
      <a href="http://chartboost.com" target="_blank" class="logo-chartboost"></a>
      <a href="http://chegg.com" target="_blank" class="logo-chegg"></a>
      <a href="http://clearslide.com" target="_blank" class="logo-clearslide"></a>
      <a href="http://cloudera.com" target="_blank" class="logo-cloudera"></a>
      <a href="http://creativelive.com" target="_blank" class="logo-creativelive"></a>
      <a href="http://dropbox.com" target="_blank" class="logo-dropbox"></a>
      <a href="http://edmodo.com" target="_blank" class="logo-edmodo"></a>
      <a href="http://facebook.com" target="_blank" class="logo-facebook"></a>
      <a href="http://firebase.com" target="_blank" class="logo-firebase"></a>
      <a href="http://linkedin.com" target="_blank" class="logo-linkedin"></a> 
      <a href="http://lyft.com" target="_blank" class="logo-lyft"></a>
      <a href="http://messageme.com" target="_blank" class="logo-messageme"></a>
      <a href="http://nextdoor.com" target="_blank" class="logo-nextdoor"></a>
      <a href="http://okta.com" target="_blank" class="logo-okta"></a>
      <a href="http://paloaltonetworks.com" target="_blank" class="logo-paloaltonetworks"></a>
      <a href="http://path.com" target="_blank" class="logo-path"></a>
      <a href="http://pandora.com" target="_blank" class="logo-pandora"></a>
      <a href="http://pocketgems.com" target="_blank" class="logo-pocketgems"></a>
      <a href="http://purestorage.com" target="_blank" class="logo-purestorage"></a>
      <a href="http://redfin.com" target="_blank" class="logo-redfin"></a>
      <a href="http://tellapart.com" target="_blank" class="logo-tellapart"></a>
      <a href="http://thumbtack.com" target="_blank" class="logo-thumbtack"></a>

    </div>
    <div class="grid-100 companies_list">
      <a href="http://pinterest.com" target="_blank" class="logo-pinterest"></a>
      <a href="http://appdynamics.com" target="_blank" class="logo-appdynamics"></a>
      <a href="http://onekingslane.com" target="_blank" class="logo-onekingslane"></a>
      <a href="http://flipboard.com" target="_blank" class="logo-flipboard"></a>
      <a href="http://electricimp.com" target="_blank" class="logo-electricimp"></a>
    </div>
    -->
    <!--
    <div class="grid-100 participate">
      <p>Does your company want to participate? <a href="#" id="apply_company">Apply now!</a></p>
    </div>
    -->
  </div>
  <div class="suggest">
    <a href="#" id="suggest-modal">
      Suggest a Company
      <i class="icon-plus-sign"></i>
    </a>
    <div id="suggest" class="apply_form" data-button=".company">
        <form method="POST" data-type="SuggestObject">
          <strong>Which companies do you want to see this year?</strong>
          <div class="pad">
            <p>Select last year's companies from the autocomplete, or suggest new ones we haven't had yet!</p>
            <div>
              <input id="suggestcompanies" name="companies" style='width:301px' placeholder="Suggest companies (start typing)">
            </div>
            <div>
              <textarea name="other" placeholder="Other Suggestions" style="width:300px" class="form-control"></textarea>
            </div>
            <div>
              <input name="name" class="form-control" style='width:300px' placeholder="Name">
            </div>
            <div>
              <input name="email" class="form-control" style='width:300px' placeholder="Email Address">
            </div>
            <div>
              <button type="submit">Suggest</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="map">
  <div id="map-canvas">
  </div>
  <div id="map-overlay">
    <h2>The Ferry Building</h2>
    <address>One Ferry Building &middot; San Francisco</address>
    <a href="http://maps.google.com/maps?saddr=current+location&daddr=Ferry+Building,+San+Francisco,+CA&hl=en" target="_blank">Get Directions<i class="icon-map-marker"></i></a>
    <p>This event is not open to the public. Registration is required.</p>
  </div>
</section>

<footer id="greylock-logo">
  <div class="grid-container">
    <div class="grid-50 tablet-grid-50">
      <h2>About <strong><span>Greylock</span></strong></h2>
      <p>Greylock partners with game-changing entrepreneurs to build market-transforming companies. Our partner companies have made 150 public offerings and more than 100 of our companies have achieved profitable M&amp;A events.</p>
      <p>As founders, operators and investors, we strive to be the best partners for entrepreneurs building disruptive consumer and enterprise software
        companies. We create partnerships with tech entrepreneurs at the earliest stages of creation and support them as their companies grow and evolve.</p>
      <p>We continue to invest in companies that define new markets, including <a href="http://airbnb.com">Airbnb</a>, <a href="http://apptio.com">Apptio</a>, <a href="http://cloudera.com">Cloudera</a>, <a href="http://coupons.com">Coupons.com</a>, <a href="http://dropbox.com">Dropbox</a>, <a href="http://facebook.com">Facebook</a> (Nasdaq: FB), <a href="http://onekingslane.com">One Kings Lane</a>, <a href="http://linkedin.com">LinkedIn</a> (Nasdaq: FB), <a href="http://paloaltonetworks.com">Palo Alto Networks</a> (NYSE: PANW), <a href="http://redfin.com">Redfin</a>, <a href="http://tumblr.com">tumblr</a>, and <a href="http://workday.com">Workday</a> (NYSE: WDAY).
      
      <p>
      <p>
        <strong><a href="http://greylock.com">Visit Greylock</a></strong> &nbsp; 
        <a href="http://twitter.com/greylockvc"><i class="icon-twitter"></i> Twitter</a> &nbsp;
        <a href="http://greylockvc.com"><i class="icon-comment"></i> Blog</a>
      </p>
    </div>
  </div>
</footer>

<div id="form_student" class="apply_form" data-button=".student">
  <div class="topbar">Student<a href="#" class="close"><span></span>&nbsp;</a></div>

  <div class="form">
    <form data-type="StudentObject">
      <div class="grid-container">
        <div class="grid-100 tablet-grid-100">
          <p>At this point, we can only accept CS students graduating in 2015 and beyond.</p>
        </div>

        <div class="grid-50 tablet-grid-50">
          <label>Your Name <span class="req">*</span></label>
          <input type="text" placeholder="First and Last" name="name">
        </div>
        <div class="grid-50 tablet-grid-50">
          <label>Email <span class="req">*</span></label>
          <input type="text" placeholder="you@website.com" name="email">
        </div>

        <div class="grid-75 tablet-grid-75">
          <label>University <span class="req">*</span></label>
          <input type="text" placeholder="Current University" name="university">
        </div>
        <div class="grid-25 tablet-grid-25">
          <label>Year <span class="req">*</span></label>
          <input type="text" placeholder="20XX" name="year">
        </div>

        <div class="grid-40 tablet-grid-40 upload-resume">
          <label>Resume <span class="req">*</span></label>
          <input type="dropbox-chooser" name="resume" style="visibility: hidden;"/>
        </div>
        <div class="grid-60 details tablet-grid-60 upload-resume">
          <p>Please include a recent PDF or Word version of your resume.</p>
        </div>
      </div>

      <div class="form-bottom">
        <button type="submit">Apply</button>
      </div>
    </form>
  </div>
</div>
<div id="form_company" class="apply_form" data-button=".company">
  <div class="topbar">Company<a href="#" class="close"><span></span>&nbsp;</a></div>
  <div class="form">
    <form method="POST" data-type="CompanyObject">
      <div class="container-grid clearfix">
        <div class="grid-100 tablet-grid-100">
          <p>Disclaimer: Due to limited space, we unfortunately won't be able to accept every company that applies.</p>
        </div>

        <div class="grid-50 tablet-grid-50">
          <label>Company Name <span class="req">*</span></label>
          <input type="text" placeholder="Your Company" name="company_name">
        </div>
        <div class="grid-50 tablet-grid-50">
          <label>Company URL <span class="req">*</span></label>
          <input type="text" placeholder="http://example.com" name="company_url">
        </div>
        <div class="grid-50 tablet-grid-50">
          <label>Point of Contact <span class="req">*</span></label>
          <input type="text" placeholder="Your Name" name="contact_name">
        </div>
        <div class="grid-50 tablet-grid-50">
          <label>Contact Email <span class="req">*</span></label>
          <input type="text" placeholder="you@website.com" name="email">
        </div>

        <div class="grid-40 tablet-grid-40 upload-logo">
          <label>Company Logo <span class="req">*</span></label>
          <input type="dropbox-chooser" name="logo" style="visibility: hidden;"/>
        </div>
        <div class="grid-60 tablet-grid-60 details">
          <p>If selected, we'll need a medium-sized, full color logo for your company.</p>
        </div>
      </div>

      <div class="form-bottom">
        <button type="submit">Apply</button>
      </div>
    </form>
  </div>
</div>
<div id="overlay"></div>
