---
page: update 
---

<div id="info">
  <h2>Complete Your Hackfest Application</h2>
  <p>Your team has applied to Hackfest, but we'll need a bit more information about you before we can look at your application.</p>
  <p>Fill out the form below&hellip; and get ready to hack!</p>
  <div id="join">
    <form method="POST" action="/" class="apply-form hide-on-done" data-type="ResumeObject">
      <div class="grid-container">
        <div class="form-input grid-70 first">
          <label for="form_m_university">University <sup>*</sup></label>
          <input type="text" id="form_m_university" name="college" placeholder="Your current University" class="required"> 
        </div>
        <div class="form-input grid-30">
          <label for="form_m_year">Year <sup>*</sup></label>
          <input type="text" id="form_m_year" name="year" placeholder="20XX" class="validyear required"> 
        </div>
      </div>

      <div class="grid-container">
        <div class="form-input grid-100">
          <label for="form_m_year">Where are you interning at? <sup>*</sup></label>
          <input type="text" id="form_m_intern" name="intern" placeholder="Interning at..." class="required"> 
        </div>
      </div>
      <div class="grid-container">
        <div class="form-input grid-50">
          <div class="resume">
            <label>Upload your resume<sup>*</sup>:</label> <input type="dropbox-chooser" name="selected_file" style="visibility: hidden;"/>
          </div>
        </div>
        <div class="form-input grid-50">

          <input type="hidden" id="form_m_id" name="id">
          <input type="hidden" id="form_m_email" name="email">

          <div class="form-input cols4 center">
            <button type="Submit">Save Application</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
